@CHARSET "EUC-KR";
.table_border{
	border:1px solid black;
}

.selectBox{
	width:196px;
	height:34px;
}

.table{
	cursor:pointer;
}
.content{
	padding-left:50px;
	width:750px;
}
#table_menu{
	height:50px;
}
.table_content{
	height:1000px;
	width:100%;
}
.table_align_top{
	vertical-align:top;
}
.table_width150{
	width:150px;
}
.whole_table{
	width:100%;
}
.btn{
	margin:0 5px 0 5px;
}