.table{
	border:1px solid black;
}

.height34{
	height:34px;
}
.height30{
	height:30px;
}
.mrgl50px{
	margin-left:50px;
}
.vertical-center{
	margin-top:3px;
	width:70px;
	text-align:center;

}
.comboBtn-width{
	width:170px;
}
.btn-primary{
	margin:auto 5px auto 5px;
}
.eqMasterTable{
	margin-left:100px;
}
.eqMasterTable tr td{
	min-width:220px;
	height:40px;
}
.selected-msg{
	margin-bottom:0px;
}

.defalt-msg{
	color:grey;
}
.dropdown-menu{
	cursor:pointer;
}
.tableWidth{
	width:900px;
	margin:auto;
}