option {
	text-align:center;
}
#addNewEq{
	vertical-align:middle;
	font-size:large;
	height:50px;
	color:#286090;
}
.modal {
  text-align: center;
	margin:auto;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modalTable{
	width:500px;
	margin:auto;
}
.modalTable .form-control{
	width:140px;
}
.modalTable tr td form div label{
	width:100px;
	text-align:center;
}

#eqTable{
	margin-top:30px;
}
#eqTable tr :hover{
	cursor:pointer;
}
.table tr th {
	text-align:center;
}
.table tr td{
	text-align:center;
}

.height34{
	height:34px;
}
.height30{
	height:30px;
}
.mrgl50px{
	margin-left:50px;
}
.vertical-center{
	margin-top:3px;
	width:70px;
	text-align:center;

}
.comboBtn-width{
	width:170px;
}
.btn-primary{
	margin:auto 5px auto 5px;
}
.eqMasterTable{
	margin-left:100px;
}
.eqMasterTable tr td{
	min-width:220px;
	height:40px;
}
.selected-msg{
	margin-bottom:0px;
}

.defalt-msg{
	color:grey;
}
.dropdown-menu{
	cursor:pointer;
}
.tableWidth{
	width:900px;
	margin:auto;
}