<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UpperGroupFacade">
	<select id="getUpperGroupBySiteId"  resultType="web.app.pkvalve.domains.UpperGroup" parameterType="String">
		select
			groupCode,
			groupName
		from
			uppergroup
		where
			siteCode = #{siteCode}
	</select>
	<select id="getEqBySiteUppergroup" resultType="web.app.pkvalve.domains.Equipment" parameterType="hashmap" >
	select
		companyCode,
		site.siteName,
		uppergroup.groupName,
		equipments.eqCode,
		eqcatalog.eqDetail,
		subgroup.subgroupName,
		location.location,
		func.funcLoc,
		proc.ProcessName,
		equipments.energyCode1,
		equipments.energyCode2,
		equipments.energyCode3
	from equipments
		join eqcatalog on equipments.eqCode = eqcatalog.eqCode
		join site on equipments.siteCode = site.siteCode
		join uppergroup on equipments.groupCode = uppergroup.groupCode
		join subgroup on equipments.subGroupCode = subgroup.subGroupCode
		join location on equipments.upperLocationCode = location.locationCode
		join func on equipments.upperFunctionCode = func.functionCode
		join proc on equipments.upperProcessCode = proc.processCode
	where
		equipments.siteCode = #{siteCode}
		and equipments.groupCode = #{groupCode}
	</select>
	<select id="getUpperGroupByGroupCode" resultType="web.app.pkvalve.domains.UpperGroup">
		select * from uppergroup where uppergroup.groupcode = #{groupCode}
	</select>
	<select id="getAllUpperGroup" resultType="web.app.pkvalve.domains.UpperGroup">
		select 
			siteCode,
			groupCode,
			groupName
		from 
			uppergroup
	</select>
	<insert id="insertUpperGroup" parameterType="hashmap">
		insert into
			uppergroup
			(siteCode,groupCode,groupName)
		values 
			(#{siteCode},#{groupCode},#{groupName})
	</insert>
	<update id="updateUpperGroup" parameterType="hashmap">
		update uppergroup set groupName = #{groupName} where groupCode = #{groupCode}
	</update>
	<delete id="deleteUpperGroup" parameterType="hashmap">
		delete from uppergroup where groupCode=#{groupCode}
	</delete>
</mapper>